.dealer_logo {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    float: left;
    padding: 24px;
    text-align: center;
    img {
        max-width: 100%;
    }
}

.dealer_profile .dealer_info {
    padding: 25px 0;
    width: 100%;
}

.dealer_info {
    float: right;
    width: 66%;
    padding: 10px 0;
}

.dealer_social_links {
    padding: 0px;
    margin: 20px 0 0;
    li {
        list-style: none;
        float: left;
        margin: 10px 15px 10px 0;
        a {
            font-size: 26px;
        }
    }
}

li.facebook-icon i {
    color: #3a5898;
}

li.twitter-icon i {
    color: #54acec;
}

li.linkedin-icon i {
    color: #0777b6;
}

li.google-plus-icon i {
    color: #dd4a3a;
}

.dealer_contact_info {
    padding: 5px 18px;
    margin: 0 auto 10px;
    h6 {
        font-size: 13px;
        color: #a1a1a1;
        margin: 0 auto 1px;
    }
    a {
        color: #111111;
        font-size: 16px;
        font-weight: 300;
    }
}

.space-60 {
    width: 100%;
    height: 60px;
    clear: both;
}

.dealer_more_info .info_title {
    padding: 20px 25px;
    margin-bottom: 20px;
}

.dealer_listings {
    padding: 40px 0 10px;
    .compare_item .checkbox {
        margin: -2px 0 0;
        padding: 0px;
    }
}

.grid_listing:nth-child(3n+1) {
    clear: left;
}

.grid_listing .product-listing-m {
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto 40px;
}

.grid_listing .product-listing-img,
.grid_listing .product-listing-content {
    float: none;
    width: 100%;
}

.product-listing-img {
    float: left;
    width: 45%;
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.grid_listing .product-listing-content {
    padding: 20px 20px 0;
    h5 {
        line-height: 26px;
        margin: 0 auto 20px;
    }
    .list-price {
        font-size: 18px;
        color: #555;
        font-weight: 700;
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto;
    }
    .car-location {
        display: inline-block;
        margin-left: 24px;
        color: #919090;
        font-size: 13px;
        float: right;
    }
    .features_list {
        height: 95px;
        background: #fff;
        border-top: 1px solid #e1e0e0;
        clear: both;
        margin: 16px -20px 0;
        padding: 15px 20px;
        li {
            color: #8d8d8d;
            margin-bottom: 3px;
            width: 50%;
            float: left;
            font-size: 13px;
            font-weight: 400;
            list-style: outside none none;
            margin: 0 auto;
            i {
                font-size: 15px;
                margin-right: 8px;
            }
        }
    }
}

.grid_listing .product-listing-img,
.grid_listing .product-listing-content {
    float: none;
    width: 100%;
}

.product-listing-content {
    float: left;
    padding: 20px 15px 20px 30px;
    width: 55%;
}

.comment_form form {
    display: flex;
    flex-direction: column;
}

.comment_form .form-control {
    background: #eeeeee none repeat scroll 0 0;
}

.comment_form input.button.red {
    width: 100%;
}

section.dealer_profile.inner_pages .sidebar_widget {
    margin: 0;
}