.result-sorting-wrapper {
    background: #f5f5f5 none repeat scroll 0 0;
    border-bottom: 3px solid #e5e5e5;
    border-left: 4px solid #cecece;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 10px 20px;
}

.sorting-count {
    float: left;
    p {
        margin: 0 auto;
        color: #222222;
        line-height: 50px;
        span {
            color: #999999;
        }
    }
}

.result-sorting-by {
    float: right;
    position: relative;
    top: 10px;
    p {
        display: inline-block;
        margin: 0 auto;
        color: #222222;
    }
}

.dealers_list_wrap {
    margin: 0 auto 50px;
}

.dealers_listing {
    border-bottom: 1px solid #e7e7e7;
    padding: 0 0px 20px;
    margin: 0 auto 20px;
    .dealer_logo {
        padding: 12px;
        width: 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        float: left;
        text-align: center;
    }
    .dealer_info {
        width: 100%;
        float: right;
        padding: 10px 0;
        h5 a {
            color: #111;
        }
    }
}

.view_profile {
    padding: 12px 0;
    text-align: right;
    p {
        margin: 10px 0;
        font-size: 18px;
    }
}