@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Lobster|Oleo+Script:400,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');

/*** 
========== service-area ==========
***/

.service_wrap {
    padding: 0px 0;
    ul li {
        display: inline-flex;
        position: relative;
        width: 125px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
        margin: 5px;
        a {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            padding: 20px 0;
            font-size: 12px;
        }
        &:hover a {
            background: #DB2D2E;
            color: #fff;
        }
    }
}

.service_box {
    text-align: center;
    i {
        color: #000;
        &:before {
            margin-left: 0px;
            font-size: 30px;
        }
    }
    p {
        margin-bottom: 0;
        color: #000;
    }
}

.service li:hover .service_box i,
.service li:hover .service_box p {
    color: #fff;
}

nav>.nav.nav-tabs {
    border: none;
    color: #fff;
    background: #272e38;
    border-radius: 0;
}

nav>div a.nav-item.nav-link,
nav>div a.nav-item.nav-link.active {
    border: none;
    padding: 18px 25px;
    color: rgb(255, 255, 255);
    background: #000000;
    border-radius: 0;
}

// nav>div a.nav-item.nav-link.active:after {
//     content: "";
//     position: relative;
//     bottom: -58px;
//     left: -24%;
//     border: 15px solid transparent;
//     border-top-color: #db2d2e;
// }
.tab-content {
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top: 5px solid #db2d2e;
    border-bottom: 5px solid #db2d2e;
    padding: 20px 15px !important;
}

nav>div a.nav-item.nav-link:hover,
nav>div a.nav-item.nav-link:focus {
    border: none;
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 0;
    transition: background 0.20s linear;
}

.nav-item.nav-link.active {
    background: #db2d2e !important;
}

#nav-home h3 {
    font-size: 15px;
    text-align: center;
}

.blog_wrap .img_holder {
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: 110px;
        object-fit: cover;
    }
}

.blog_wrap .hover_icon {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    /*    z-index: -1;*/
    transform: scale(0);
    transition: .5s;
    .hvr_btn {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        display: inline-block;
        background: #fff;
        color: #DB2D2E;
        border: 1px solid #DB2D2E;
        text-align: center;
        line-height: 30px;
        transform: translateY(-17px);
    }
}

.blog_wrap:hover .hover_icon {
    z-index: 1;
    transform: scale(1);
}

.blog_info h6 {
    font-size: 14px;
    line-height: 20px;
}

h3.blog-title {
    font-size: 18px;
    text-align: center;
}

.mb-4,
.my-4 {
    margin-bottom: 0 !important;
}

.meta p {
    margin-bottom: 0;
    font-size: 13px;
}

.upcoming .red {
    margin: 0 auto;
}

#popular .red {
    margin: 0 auto;
    margin-top: 15px;
}

input[type=checkbox] {
    position: relative;
    top: 3px;
}

.featured-car-list {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto 15px;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }
    &:hover .featured-car-img img {
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -ms-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        -webkit-transition: all 0.7s ease-in-out;
    }
}

.featured-car-img {
    position: relative;
    overflow: hidden;
    transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
}

.featured-icon {
    color: #ffffff;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    right: -28px;
    text-align: center;
    text-transform: capitalize;
    top: 9px;
    transform: rotate(45deg);
    width: 105px;
}

.featured-price {
    float: left;
    width: 50%;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    margin-top: 4px;
}

.featured-car-content {
    padding: 20px;
    overflow: hidden;
    a {
        color: #111111;
        text-transform: capitalize;
        font-size: 18px;
    }
    ul {
        border-top: 1px solid #e7e6e6;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        padding: 20px 0 0;
        li {
            float: left;
            font-size: 16px;
            list-style: outside none none;
            margin-bottom: 8px;
            width: 50%;
            .fa {
                font-size: 15px;
                margin-right: 8px;
            }
        }
    }
}

.price_info {
    overflow: hidden;
    .car-location {
        float: right;
        margin: 0 auto;
        width: 50%;
        &>span {
            display: block;
            line-height: 30px;
        }
    }
}

.compare_item {
    background: rgba(0, 0, 0, 0.8);
    left: 10px;
    padding: 0 12px;
    position: absolute;
    top: 10px;
    height: 26px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    .checkbox {
        margin: 0px 0;
        padding: 0px;
        label {
            color: #fff;
            font-weight: 400;
            font-size: 13px;
            &::before {
                background: #fff none repeat scroll 0 0;
                border: 0 none;
                height: 12px;
                top: 4px;
                width: 12px;
            }
        }
        input[type="checkbox"]:checked+label::before {
            color: #000;
            font-weight: bold;
        }
    }
}

.label_icon {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #db2d2e;
    color: #fff;
    padding: 3px 10px;
}


/*************************************
          Car item
**************************************/

.car-item {
    position: relative;
    overflow: hidden;
    .car-content {
        background: #ffffff;
        padding: 20px;
        border: 1px solid #f5f5f5;
        a {
            font-size: 16px;
            font-weight: 600;
            color: #db2d2e;
            margin-bottom: 10px;
            display: block;
            &:hover {
                color: #363636;
            }
        }
    }
    .price span {
        color: #363636;
        font-weight: 700;
        font-size: 16px;
    }
    .price .old-price {
        color: #999999 !important;
        text-decoration: line-through !important;
        padding-right: 5px !important;
        font-size: 13px !important;
        font-weight: 400 !important;
    }
    .separator {
        margin-bottom: 15px;
        &:after {
            width: 50px;
            display: block;
            margin: auto;
            content: "";
            height: 1px;
            background: #000000;
            bottom: 0px;
            left: 50%;
            transition: width .8s ease, background-color .8s ease;
            -webkit-transition: width .8s ease, background-color .8s ease;
            -o-transition: width .8s ease, background-color .8s ease;
            -ms-transition: width .8s ease, background-color .8s ease;
            -moz-transition: width .8s ease, background-color .8s ease;
        }
        &:before {
            content: '';
            display: block;
            margin: auto;
            left: 50%;
            height: 1px;
            width: 30px;
            bottom: -10px;
            background: #000000;
            transition: width .8s ease, background-color .8s ease;
            -webkit-transition: width .8s ease, background-color .8s ease;
            -o-transition: width .8s ease, background-color .8s ease;
            -ms-transition: width .8s ease, background-color .8s ease;
            -moz-transition: width .8s ease, background-color .8s ease;
            margin-bottom: 4px;
        }
    }
    &:hover .separator:before {
        width: 50px;
        left: 0;
        background: #db2d2e;
    }
    &:hover .separator:after {
        width: 30px;
        left: 0;
        background: #db2d2e;
    }
    .car-list {
        background: #ffffff;
        color: #363636;
        overflow: hidden;
        bottom: 144px;
        height: 0;
        left: 0;
        position: absolute;
        transition: all 0.3s ease-out 0s;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        width: 100%;
        z-index: 2;
        text-align: center;
        li {
            line-height: 38px;
            color: #999999;
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
            i {
                padding-right: 5px;
            }
        }
    }
    &:hover .car-list {
        height: 40px;
        border-bottom: 1px solid #f6f6f6;
    }
    .car-image {
        position: relative;
        overflow: hidden;
    }
    .car-overlay-banner {
        background: rgba(219, 45, 46, 0.7);
        position: absolute;
        top: -100%;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: all 0.5s ease-out 0s;
        -webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -ms-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        ul {
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 99;
            li {
                display: inline-block;
                a {
                    background: transparent;
                    border: 2px solid #ffffff;
                    color: #ffffff;
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                    display: inline-block;
                    border-radius: 50%;
                    &:hover {
                        background: #ffffff;
                        color: #db2d2e;
                    }
                }
            }
        }
    }
    &:hover .car-overlay-banner {
        opacity: 1;
        top: 0;
    }
}

.car-item.gray-bg .car-content {
    background: #f6f6f6;
}


/*-------------------------
 About-Us-Section
-------------------------------*/

.section-header.text-center span {
    font-weight: normal;
    text-transform: capitalize;
    color: #000;
}

.section-header.text-center p {
    padding: 20px 50px;
    font-size: 15px;
    line-height: 25px;
    color: #867c7c;
}

.looking-car {
    border: 3px solid #e1e1e1;
    border-radius: 0 30px;
    padding: 58px 25px;
    position: relative;
    width: 450px;
    span {
        font-weight: 500;
        font-size: 20px;
    }
}

.looking-car-content {
    width: 60%;
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 26px;
        width: 85%;
        margin-top: 20px;
    }
}

.looking-cat-image {
    position: absolute;
    right: -120px;
    top: 40px;
    max-width: 350px;
    img {
        max-width: 100%;
    }
}

a.button.red i {
    padding-left: 10px;
}


/*=============================================
			Compare Items
=============================================*/

.tg-vstag {
    top: 50%;
    left: 50%;
    z-index: 3;
    padding: 5px;
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    margin: -85px 0 0 -85px;
    -webkit-box-shadow: 0 0 15px 0 rgba(55, 53, 66, 0.90);
    box-shadow: 0 0 15px 0 rgba(55, 53, 66, 0.90);
    background: #ffffff;
    .holder {
        width: 100%;
        height: 100%;
        padding: 30px;
        color: #373542;
        text-align: center;
        border-radius: 50%;
        position: relative;
        border: 1px solid #373542;
        .tg-border-heading {
            margin-top: 10px;
        }
    }
    .tg-border-heading:before {
        background: #373542;
    }
    .tg-border-heading h3 {
        font: 300 40px/40px 'Open Sans', Arial, Helvetica, sans-serif;
    }
    a {
        color: #373542;
        display: inline-block;
        text-transform: uppercase;
    }
}

.tg-vehicle-compare {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #f7f7f7;
    padding-top: 0;
}

.tg-comparebox {
    width: 100%;
    float: left;
    background: #f7f7f7;
    &:before {
        right: 0;
        width: 50%;
        height: 100%;
        content: '';
        position: absolute;
        background: #373542;
        top: 0;
        z-index: 1;
    }
    &:after {
        top: 0;
        right: 50%;
        content: '';
        width: 0;
        height: 100%;
        position: absolute;
        border-bottom: 700px solid #373542;
        border-left: 30px solid transparent;
    }
    .tg-compare {
        width: 50%;
        float: left;
        clear: none;
        padding: 130px 110px 130px 0;
    }
    .tg-compare+.tg-compare {
        color: #fff;
        text-align: right;
        padding: 130px 0 130px 110px;
    }
}

.tg-compare figure {
    margin: 0;
    width: 55%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.tg-carfeatures {
    width: 44%;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    .tg-icon {
        display: block;
        font-size: 90px;
        line-height: 70px;
        padding: 0 0 45px;
        color: #000;
        font-family: 'Oleo Script', cursive;
    }
    .tg-border-heading:before {
        background: #373542;
    }
    .tg-description {
        margin: 0 0 30px;
        padding: 0 0 30px;
        border-bottom: 1px solid #373542;
        p {
            margin: 0;
        }
    }
}

.tg-price-rating {
    width: 100%;
    .tg-price {
        font-size: 30px;
        line-height: 30px;
        font-weight: 300;
        padding: 0;
        text-transform: uppercase;
    }
    .tg-stars {
        float: right;
        margin: 8px 0 6px;
        span {
            width: 100%;
        }
    }
}

.tg-comparebox .tg-compare+.tg-compare .tg-price-rating .tg-stars span {
    width: 80%;
}

.tg-comparebox .tg-compare+.tg-compare .tg-border-heading:before {
    background: #fff;
}

.tg-comparebox .tg-compare+.tg-compare .tg-border-heading h3 {
    color: #fff;
}

.tg-comparebox .tg-compare+.tg-compare .tg-description {
    border-color: #fff;
}

.tg-comparebox .tg-pagination {
    width: 50%;
    bottom: 30px;
    z-index: 5;
    padding: 0 30px 0 0;
    position: absolute;
    text-align: center;
}

.tg-compare-slider .tg-prev,
.tg-compare-slider .tg-next {
    top: auto;
    cursor: pointer !important;
    z-index: 10;
    bottom: 10px;
    font-size: 20px;
    line-height: 20px;
    overflow: hidden;
    position: absolute;
}

.tg-compare-slider .tg-prev span,
.tg-compare-slider .tg-next span {
    line-height: inherit;
}

.tg-compare-slider .tg-prev span {
    margin: 0 15px 0 0;
}

.tg-compare-slider .tg-next span {
    margin: 0 0 0 15px;
}

.tg-compare-slider .tg-prev span:after,
.tg-compare-slider .tg-next span:after {
    height: 1px;
    width: 15px;
}

.tg-compare-slider .tg-next {
    right: 48%;
}

.tg-compare-slider .tg-prev {
    right: 49%;
}

.tg-comparebox .swiper-slide .tg-carfeatures {
    opacity: 0;
    visibility: hidden;
}

.tg-comparebox .swiper-slide .tg-compare figure {
    left: -100%;
}

.tg-comparebox .swiper-slide .tg-compare+.tg-compare figure {
    left: auto;
    right: -100%;
}

.tg-comparebox .swiper-slide.swiper-slide-active .tg-compare figure {
    left: 0;
}

.tg-comparebox .swiper-slide.swiper-slide-active .tg-compare+.tg-compare figure {
    left: auto;
    right: 0;
}

.swiper-slide-active .tg-compare.tg-compare-left figure {
    animation: smsanimationLeftInOut linear 4s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}

@keyframes smsanimationLeftInOut {
    0% {
        transform: translate(-100%, 0);
    }
    20% {
        transform: translate(0, 0);
    }
    80% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.swiper-slide-active .tg-compare.tg-compare-right figure {
    animation: smsanimationRightInOut linear 4s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}

@keyframes smsanimationRightInOut {
    0% {
        transform: translate(100%, 0);
    }
    20% {
        transform: translate(0, 0);
    }
    80% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

.swiper-slide-active .tg-compare.tg-compare-left .tg-carfeatures {
    animation: smsanimationtopInOut linear 4s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}

@keyframes smsanimationtopInOut {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 40%);
    }
    20% {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }
    80% {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 40%);
    }
}

.swiper-slide-active .tg-compare.tg-compare-right .tg-carfeatures {
    animation: smsanimationbottomtInOut linear 4s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}

@keyframes smsanimationbottomtInOut {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translate(0, -40%);
    }
    20% {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }
    80% {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translate(0, -40%);
    }
}

// Banner
.wpb_single_image img {
    width: 100%;
}

section.sms-banner {
    padding: 0;
}

// Partner
#partner {
    padding: 0;
    margin: 0;
}

#partner .owl-carousel .owl-item img {
    width: auto;
    margin: 0 auto;
}

.upcoming .compare_item .checkbox {
    margin: -2px 0;
    padding: 0px;
}

// Responsive area Tab
@media (max-width: 991px) {
    .blog_info {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    #used-car-by-cat .section-title {
        margin: 40px 0;
        text-align: center;
    }
    .tg-comparebox .tg-compare {
        width: 100%;
        padding: 50px 0;
    }
    .tg-comparebox .tg-compare+.tg-compare {
        color: #ababab;
        text-align: right;
        padding: 50px 0 0;
    }
    .tg-comparebox {
        width: 100%;
        background: #f7f7f7;
        float: none;
        &::before,
        &::after {
            display: none;
        }
    }
    .tg-carfeatures {
        left: -30px;
        .tg-icon {
            font-size: 60px;
            line-height: 60px;
            padding: 0 0 29px;
        }
        .tg-price {
            float: none;
            text-align: center;
        }
    }
    .tg-compare.tg-compare-right .tg-carfeatures {
        left: 30px;
    }
    .tg-comparebox .tg-compare+.tg-compare .tg-border-heading h3 {
        color: #000;
    }
    .tg-prev,
    .tg-next {
        display: none;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets {
        left: 0 !important;
    }
    .tg-vstag {
        width: 100px;
        height: 100px;
        top: 52%;
        left: 56%;
        .holder {
            padding: 5px 0;
            h3 {
                font: 300 30px/20px 'Open Sans', Arial, Helvetica, sans-serif;
            }
        }
    }
    .tg-comparebox .tg-compare+.tg-compare .tg-description {
        border-color: #373542;
    }
    .list-style-1 {
        margin-bottom: 20px;
    }
}

// Responsive area Phone
@media (max-width: 767px) {
    section {
        padding: 50px 0 !important;
    }
    .text-red {
        font-size: 16px;
    }
    .service_wrap {
        margin: 80px 0px;
        text-align: center;
        position: relative;
        top: 80px;
    }
    .section-title {
        margin-bottom: 30px;
        text-align: center;
        h2 {
            font-size: 22px;
        }
    }
    .blog_info {
        position: relative;
        h6 {
            font-size: 14px;
            line-height: 14px;
            margin-top: 10px;
        }
        .meta p {
            margin-bottom: 10px;
        }
    }
    .tg-carfeatures {
        left: 0;
        .tg-icon {
            font-size: 30px;
            line-height: 30px;
            padding: 0 0 15px;
            font-weight: 600;
        }
        h3 {
            font-size: 18px;
            line-height: 24px;
        }
    }
    .tg-compare.tg-compare-right .tg-carfeatures {
        left: 0px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets {
        left: 0 !important;
    }
    .wpb_single_image {
        margin: 0 0 20px;
    }
    .footer h6 {
        margin-bottom: 15px;
        margin-top: 30px;
    }
    .list-style-1 {
        margin-bottom: 20px;
    }
}