.Post-Ad {
    background: #F6F6F6;
    input[type=checkbox] {
        position: relative;
        top: -1px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        padding: 0px;
        width: 16px;
        height: 16px;
        background: url(../images/checkbox-minimal.png) no-repeat;
        border: none;
        cursor: pointer;
        background-position: 0 0;
    }
}

.dropzone {
    border: none !important;
}

.sms-rad {
    margin: 20px 0;
}

.panel-title {
    display: block;
    padding: 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    border-bottom: 2px solid #e3e3e3;
    color: #323232;
    margin: 0 0 15px;
    padding: 0px 18px 13px 0;
    text-transform: capitalize;
    &::before {
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        bottom: -2px;
        width: 70px;
        background: #db2d2e;
        z-index: 1;
    }
}

.lead {
    color: #222;
    font-weight: 600;
    font-size: 16px;
}

.sms-ad,
.sms-ad-blog-sidebar {
    background: #fff;
    padding: 30px;
    .form-control {
        padding: 8px 12px;
        background: #f6f6f6;
        margin-bottom: 10px;
    }
}

.control-label {
    display: inline-block;
    font-weight: 600;
    margin-bottom: 12px;
    max-width: 100%;
    font-size: 16px;
    color: #222;
}

.sms-radio {
    display: flex;
    flex-direction: column;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #db2d2e;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.submit-ad {
    text-align: right;
}

.output {
    margin: 0 auto;
    padding: 0;
    .colors {
        padding: 0;
        color: #fff;
        display: none;
    }
}

// Auction Area
.sms-auction-area {
    margin-bottom: 40px;
    #countdown p {
        text-align: center;
        margin-bottom: 30px;
        font-size: 26px;
        color: #222;
    }
    .canvas-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 440px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .sms-bid-area {
        padding: 0 40px;
        .bid-info {
            color: #000;
            font-size: 16px;
            padding: 10px 0;
            span {
                padding: 0 4px;
                &:nth-child(3) {
                    text-decoration: underline;
                    color: #db2d2e;
                    cursor: pointer;
                }
            }
        }
    }
    .u-flL {
        color: #222;
        position: relative;
        input {
            border-radius: 5px;
            background: #f7f7f7;
            padding: 3px 5px;
        }
        .notranslate {
            margin-left: 17%;
        }
        .button.red {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 5px 20px;
            border-radius: 5px;
            margin-left: 20px;
        }
    }
}

.auction-btn a {
    border-radius: 50px;
    padding: 7px 10px;
    margin-top: 10px !important;
    width: 60%;
    margin: 0 auto;
    background: #e01b1b;
    color: #fff !important;
}

#Auction-products .car-item .car-list {
    bottom: 174px;
}

@media (max-width:500px) {
    #countdown .canvas-container {
        max-width: 220px;
    }
    #countdown canvas:nth-child(-n+2) {
        margin-bottom: 10px;
    }
}

.date-picker {
    width: 260px;
    height: auto;
    max-height: 50px;
    background: white;
    position: relative;
    overflow: hidden;
    transition: all 0.3s 0s ease-in-out;
    margin: 0 0 30px;
    .input {
        width: 100%;
        height: 50px;
        font-size: 0;
        cursor: pointer;
        .result,
        button {
            display: inline-block;
            vertical-align: top;
        }
        .result {
            width: calc(100% - 50px);
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            padding: 0 10px;
            color: grey;
            box-sizing: border-box;
        }
        button {
            width: 50px;
            height: 50px;
            background-color: #db2d2e;
            color: white;
            line-height: 50px;
            border: 0;
            font-size: 18px;
            padding: 0;
            &::hover {
                background-color: #68768A;
            }
            &::focus {
                outline: 0;
            }
        }
    }
    .calendar {
        position: relative;
        width: 100%;
        background: #fff;
        border-radius: 0px;
        overflow: hidden;
    }
    .ui-datepicker-inline {
        position: relative;
        width: 100%;
    }
    .ui-datepicker-header {
        height: 100%;
        line-height: 50px;
        background: #db2d2e;
        color: #fff;
        margin-bottom: 10px;
    }
    .ui-datepicker-prev,
    .ui-datepicker-next {
        width: 20px;
        height: 20px;
        text-indent: 9999px;
        border: 2px solid #fff;
        border-radius: 100%;
        cursor: pointer;
        overflow: hidden;
        margin-top: 12px;
    }
    .ui-datepicker-prev {
        float: left;
        margin-left: 12px;
        &::after {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            margin: -43px 0px 0px 8px;
        }
    }
    .ui-datepicker-next {
        float: right;
        margin-right: 12px;
        &::after {
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
            margin: -43px 0px 0px 6px;
        }
    }
    .ui-datepicker-prev:after,
    .ui-datepicker-next:after {
        content: "";
        position: absolute;
        display: block;
        width: 4px;
        height: 4px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
    .ui-datepicker-prev:hover,
    .ui-datepicker-next:hover,
    .ui-datepicker-prev:hover:after,
    .ui-datepicker-next:hover:after {
        border-color: #68768A;
    }
    .ui-datepicker-title {
        text-align: center;
    }
    .ui-datepicker-calendar {
        width: 100%;
        text-align: center;
        thead tr th span {
            display: block;
            width: 100%;
            color: #8392A7;
            margin-bottom: 5px;
            font-size: 13px;
        }
    }
    .ui-state-default {
        display: block;
        text-decoration: none;
        color: #b5b5b5;
        line-height: 40px;
        font-size: 12px;
        &:hover {
            background: rgba(0, 0, 0, 0.02);
        }
    }
    .ui-state-highlight {
        color: #68768A;
    }
    .ui-state-active {
        color: #68768A;
        background-color: rgba(131, 146, 167, 0.12);
        font-weight: 600;
    }
    .ui-datepicker-unselectable .ui-state-default {
        color: #eee;
        border: 2px solid transparent;
    }
}

.date-picker.open {
    max-height: 400px;
    .input button {
        background: #db2d2e;
    }
}