/*--------------------
 Filter-Form
---------------------------*/

#filter_form2 {
    position: relative;
    top: -100px;
    padding: 0 0;
    .form-label {
        color: #ffffff;
        display: block;
        font-size: 15px;
        font-weight: 700;
    }
    .slider.slider-horizontal .slider-track {
        background-image: none;
        background-color: rgba(255, 255, 255, 0.3);
    }
    .slider-handle {
        background-color: #ffffff;
        background-image: none;
    }
    .slider-selection {
        background-color: #fff;
    }
}

.sms-bg {
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
    background: #fff;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
    .btn {
        background: #111;
        color: #fff;
        &:hover {
            background: #000;
        }
    }
}

#filter_form2 nav>div a.nav-item.nav-link.active:after {
    left: -9%;
}

form .slider.slider-horizontal {
    width: 100%;
}

.sms-bg h3,
.sms-bg.open h3 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    font-size: 20px;
}

h3.car-title {
    font-size: 20px !important;
}

form {
    display: flex;
    margin-top: 0em;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

.select {
    position: relative;
}

select.form-control {
    background: #eeeeee none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    box-shadow: none;
    color: #888888;
    font-size: 15px;
    height: 46px;
    line-height: 30px;
    padding: 0 15px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.sms-advance {
    background: transparent;
    border: none;
    color: #000;
    font-size: 16px;
    text-decoration: underline;
    line-height: 30px;
    cursor: pointer;
}

.sms-toggle-content {
    display: none;
    padding: 0 15px;
}

// Responsive area Tab
@media (max-width:991px) {
    #filter_form2 {
        top: -65px;
    }
}

// Responsive area Phone
@media (max-width: 767px) {
    #filter_form2 {
        top: 120px;
    }
}