<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- All CSS -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="assets/css/daterangepicker.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/apexcharts.css">
    <link rel="stylesheet" href="assets/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/css/tagify.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <title>Ecommerce login</title>
</head>

<body class="theme-dark">
    <div id="main-wrapper">

        <div class="form-wrap">
            <div class="container">
                <div class="form login">
                    <a href="dashboard-ecommerce.html" class="logo">
                        <img src="assets/images/logo-black.png" alt="Dany" />
                    </a>
                    <h3>Welcome To Admin</h3>
                    <form action="https://demo.themeies.com/dany-html/login.html">
                        <div class="form-group">
                            <input type="email" placeholder="Email Address" />
                            <i class="far fa-envelope-open"></i>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Your Password" />
                            <i class="fas fa-unlock"></i>
                        </div>
                        <a class="forgot-text" href="#">Forgot Your Password ?</a>
                        <button class="btn btn-filled" type="submit">Login</button>
                    </form>
                </div>
                <div class="form-type">
                    <a href="#" class="active">Admin</a>
                    <a href="#">Deliver Man</a>
                    <a href="#">ASR Login</a>
                    <a href="#">Storeman</a>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/apexcharts.min.js"></script>
    <script src="assets/js/ckeditor.js"></script>
    <script src="assets/js/datatables.min.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/daterangepicker.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/tagify.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/perfect-scrollbar.min.js"></script>
    <script src="assets/js/chart-options.js"></script>
    <script src="assets/js/scripts.js"></script>
</body>

</html>