<!doctype html>
<html lang="en" data-theme="dark">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- All CSS -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="assets/css/daterangepicker.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/apexcharts.css">
    <link rel="stylesheet" href="assets/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/css/tagify.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <title>Ecommerce</title>
</head>

<body class="theme-light">
    <div id="main-wrapper">

        <!-- Header strat -->
        <header class="header sticky-header">
            <div class="container-fluid">

                <div class="d-flex align-items-center">
                    <a href="dashboard-ecommerce.html" class="logo">
                        <img src="assets/images/logo-black.png" alt="Dany" />
                    </a>
                    <button class="menu-toggler arrow">
              <i class="fas fa-chevron-right"></i>
            </button>
                    <!-- <a href="#" class="menu-toggler">
              <i class="ti-menu"></i>
            </a> -->
                    <div class="header-search d-none d-md-block">
                        <form action="#" class="search-form">
                            <input type="search" name="search" placeholder="Search here">
                            <button><i class="ti-search"></i></button>
                        </form>
                    </div>

                    <ul class="navbar-nav utility-nav ml-auto">
                        <li class="nav-item expand-screen">
                            <a href="javascript:void(0);">
                                <i class="fas fa-expand"></i>
                            </a>
                        </li>
                        <li class="nav-item nav-message">
                            <a class="message" href="#" role="button" id="msgtab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-envelope"></i><span class="counter">8</span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="msgtab">
                                <div class="dropdown-menu-header">
                                    <span>4 Message</span>
                                    <a href="#">Mark as read</a>
                                </div>
                                <a href="#">
                                    <figure class="avatar">
                                        <img src="assets/images/notification/thumbs/1.png" alt="">
                                    </figure>
                                    <div class="text">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p>Resef Taiwan</p>
                                            <span>15 min ago</span>
                                        </div>
                                        <span>Project status</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <figure class="avatar">
                                        <img src="assets/images/notification/thumbs/2.png" alt="">
                                    </figure>
                                    <div class="text">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p>Allen Paul</p>
                                            <span>1 hour ago</span>
                                        </div>
                                        <span>Task complete</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <figure class="avatar">
                                        <img src="assets/images/notification/thumbs/3.png" alt="">
                                    </figure>
                                    <div class="text">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p>Julia Bekar</p>
                                            <span>2 hour ago</span>
                                        </div>
                                        <span>Likes a post</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <figure class="avatar">
                                        <img src="assets/images/notification/thumbs/4.png" alt="">
                                    </figure>
                                    <div class="text">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p>Jorard John</p>
                                            <span>4 hour ago</span>
                                        </div>
                                        <span>Meeting Rescheduled</span>
                                    </div>
                                </a>
                                <a href="#" class="btn view-more">View All</a>
                            </div>
                        </li>
                        <li class="nav-item nav-notification">
                            <a class="notification" href="#" role="button" id="notifitab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-bell"></i><span class="counter blue">5</span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="notifitab">
                                <div class="dropdown-menu-header">
                                    <span>4 Notifications</span>
                                    <a href="#">Mark as read</a>
                                </div>
                                <a href="#">
                                    <figure class="avatar" style="background-color: #ffdee5;">
                                        <i class="ti-user"></i>
                                    </figure>
                                    <div class="text">
                                        <p>New customer registered</p>
                                        <span>15 min ago</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <figure class="avatar" style="background-color: #e6dbfd;">
                                        <i class="ti-gift"></i>
                                    </figure>
                                    <div class="text">
                                        <p>New order placed</p>
                                        <span>2 hour ago</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <figure class="avatar" style="background-color: #cfe6f7;">
                                        <i class="ti-truck"></i>
                                    </figure>
                                    <div class="text">
                                        <p>#3132 Order deliverd</p>
                                        <span>3 hour ago</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <figure class="avatar" style="background-color: #f5d8cb;">
                                        <i class="ti-email"></i>
                                    </figure>
                                    <div class="text">
                                        <p>New email</p>
                                        <span>5 hour ago</span>
                                    </div>
                                </a>
                                <a href="#" class="btn view-more">View All</a>
                            </div>
                        </li>
                        <li class="nav-item nav-profile">

                            <a class="user-profile" href="#" role="button" id="profiletab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <figure class="avatar-circle-sm">
                                    <img src="assets/images/avatar.jpg" alt="">
                                    <span class="presence-indicator online"></span>
                                </figure>
                                <strong class="user-name">Robert Kane <i class="fas fa-angle-down"></i></strong>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="profiletab">
                                <a href="#">
                                    <i class="far fa-user"></i>
                                    <div class="text">
                                        <p>Profile</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <i class="far fa-edit"></i>
                                    <div class="text">
                                        <p>Edit Profile</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <i class="far fa-chart-bar"></i>
                                    <div class="text">
                                        <p>Manage Sales</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <div class="text">
                                        <p>Log Out</p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </header>
        <!-- Header strat -->

        <main class="main-container">

            <nav class="sidebar sidebar-main">
                <ul class="accordion" id="accordion">
                    <li class="nav-item">
                        <a href="#">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="dashboard-ecommerce.html" class="active">Ecommerce</a></li>
                            <li><a href="dashboard-analytics.html">Analytics</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                            <span>Products</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="products.html">Products</a></li>
                            <li><a href="add-product.html">Add Product</a></li>
                            <li><a href="edit-product.html">Edit Product</a></li>
                            <li><a href="sales.html">Sales</a></li>
                            <li><a href="sales-report.html">Sales Report</a></li>
                            <li><a href="invoice.html">Invoice</a></li>
                            <li><a href="customer.html">Customer</a></li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a href="#">
                            <i class="fas fa-bell"></i>
                            <span>Notification</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="inbox.html">Inbox</a></li>
                            <li><a href="inbox-draft.html">Inbox Draft</a></li>
                            <li><a href="inbox-send.html">Inbox Send</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <i class="fas fa-pen-nib"></i>
                            <span>Write Post</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a href="#">
                            <i class="fas fa-user-friends"></i>
                            <span>Users</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="customer.html">Customers</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <i class="fas fa-cogs"></i>
                            <span>Global Setting</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="settings-general.html">General Settings</a></li>
                            <li><a href="settings-admin.html">Admin Settings</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="page-container">
                <!-- <div class="container"> -->

                <div class="custom-breadcrumb">
                    <h3>Sales Report</h3>
                    <div class="breadcrumb-inner">
                        <a href="#">Dashboard</a>
                        <span>Sales Report</span>
                    </div>
                </div>

                <div class="sec-summary pt-0">
                    <div class="row">
                        <div class="col-md-3 col-6">
                            <div class="gradientBox white-bg">
                                <span class="iconbox"><img src="assets/images/icons/summary/5.png" alt="" /></span>
                                <div class="gradientBox-content">
                                    <h5 class="title">TOTAL SALE</h5>
                                    <p>$25,652</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="gradientBox white-bg">
                                <span class="iconbox"><img src="assets/images/icons/summary/6.png" alt="" /></span>
                                <div class="gradientBox-content">
                                    <h5 class="title">New quote</h5>
                                    <p>632</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="gradientBox white-bg">
                                <span class="iconbox"><img src="assets/images/icons/summary/7.png" alt="" /></span>
                                <div class="gradientBox-content">
                                    <h5 class="title">ORDERS</h5>
                                    <p>265</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="gradientBox white-bg">
                                <span class="iconbox"><img src="assets/images/icons/summary/8.png" alt="" /></span>
                                <div class="gradientBox-content">
                                    <h5 class="title">PRODUCTS</h5>
                                    <p>22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7 col-lg-8">
                        <div class="statistics">
                            <div class="card card-stretch">
                                <div class="card-header">
                                    <h4 class="card-title">Sales Index</h4>
                                </div>
                                <div class="card-body">
                                    <div id="sales"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4">
                        <div class="card card-stretch notification">
                            <div class="card-header">
                                <h4 class="card-title">Notification</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list avatar-list">
                                    <li>
                                        <a href="#">
                                            <figure class="avatar">
                                                <img src="assets/images/notification/thumbs/1.png" alt="">
                                            </figure>
                                            <div class="text">
                                                Posted an update
                                                <span>2min ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <figure class="avatar">
                                                <img src="assets/images/notification/thumbs/2.png" alt="">
                                            </figure>
                                            <div class="text">
                                                <strong>Best Product sell</strong>
                                                <span>1 hour ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <figure class="avatar">
                                                <img src="assets/images/notification/thumbs/3.png" alt="">
                                            </figure>
                                            <div class="text">
                                                <strong>Ecommerce group</strong>
                                                <span>2 hour ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <figure class="avatar">
                                                <img src="assets/images/notification/thumbs/4.png" alt="">
                                            </figure>
                                            <div class="text">
                                                <strong>Posted an update</strong>
                                                <span>3 hour ago</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4  order-md-0">
                        <div class="card product-order-02">
                            <div class="d-md-flex">
                                <div class="card-header">
                                    <h4 class="card-title">Request Handling</h4>
                                    <span>This Month</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="order_chart_02"></div>
                                <ul class="order-list">
                                    <li>
                                        <strong>34,128</strong> Finished
                                    </li>
                                    <li>
                                        <strong>12.435</strong> Pending
                                    </li>
                                    <li>
                                        <strong>12.435</strong> Reject
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 order-md-2 order-lg-1">
                        <div class="card card-stretch revenue-progress-02">
                            <div class="card-header">
                                <h4 class="card-title">Monthly Revenue Progress</h4>
                            </div>
                            <div class="card-body">
                                <div id="revenue_chart_02"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 order-md-1 order-lg-2">
                        <div class="card card-stretch visitors">
                            <div class="card-header">
                                <h4 class="card-title">Traffic Sources</h4>
                                <span>This Month</span>
                            </div>
                            <div class="card-body">
                                <div id="traffic_sources"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- </div> -->
            </div>

            <aside class="sidebar sidebar-secondary">
                <div class="widget customer-list">
                    <h3 class="widget-title">Customer List</h3>
                    <ul class="list avatar-list">
                        <li>
                            <a href="#">
                                <figure class="avatar">
                                    <img src="assets/images/customers/1.png" alt="">
                                </figure>
                                <div class="text">
                                    <strong>Resef Taiwan</strong>
                                    <span>Sr. Executive</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <figure class="avatar">
                                    <img src="assets/images/customers/2.png" alt="">
                                </figure>
                                <div class="text">
                                    <strong>Petey Cruiser</strong>
                                    <span>UX/UI Designer</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <figure class="avatar">
                                    <img src="assets/images/customers/3.png" alt="">
                                </figure>
                                <div class="text">
                                    <strong>Anna Sthesia</strong>
                                    <span>Content Writer</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <figure class="avatar">
                                    <img src="assets/images/customers/4.png" alt="">
                                </figure>
                                <div class="text">
                                    <strong>Paul Molive</strong>
                                    <span>Technical Writer</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <figure class="avatar">
                                    <img src="assets/images/customers/5.png" alt="">
                                </figure>
                                <div class="text">
                                    <strong>Gail Forcewind</strong>
                                    <span>Sr. Engineer</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <figure class="avatar">
                                    <img src="assets/images/customers/6.png" alt="">
                                </figure>
                                <div class="text">
                                    <strong>Anna Mull</strong>
                                    <span>Marketing Executive</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="btn view-more">View All</a>
                </div>
            </aside>

        </main>

        <!-- Footer strat -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <p>&copy; 2020 Ecommerce Admin. All Rights Reserved to <a href="#">Showrov</a></p>
                    </div>
                    <div class="col-md-4 text-md-right">
                        <p>Crafted with <i class="ti-heart"></i> by <a href="#">Showrov</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer end -->

    </div>

    <!-- JS -->
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/apexcharts.min.js"></script>
    <script src="assets/js/ckeditor.js"></script>
    <script src="assets/js/datatables.min.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/daterangepicker.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/tagify.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/perfect-scrollbar.min.js"></script>
    <script src="assets/js/chart-options.js"></script>
    <script src="assets/js/scripts.js"></script>
</body>



</html>