.cart_page_area.pt-100.pb-60 {
    padding: 80px 0;
    .cart-table.table-responsive.mb-40 {
        margin-bottom: 40px;
        table {
            border-color: #ddd;
            border-radius: 0;
            border-style: solid;
            border-width: 1px 0 0 1px;
            margin: 0;
            text-align: center;
            width: 100%;
            th {
                border-bottom: 1px solid #dddddd;
                border-right: 1px solid #dddddd;
                border-top: medium none;
                font-weight: 600;
                padding: 18px;
                text-align: center;
                text-transform: uppercase;
                vertical-align: middle;
                white-space: nowrap;
            }
            tbody tr td.pro-thumbnail {
                width: 130px;
                a {
                    display: block;
                    min-width: 100px;
                    img {
                        width: 100%;
                    }
                }
            }
            tbody tr td.pro-title {
                min-width: 270px;
                a {
                    color: #151320;
                    display: block;
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 6px;
                    text-transform: uppercase;
                }
            }
            td.pro-price span {
                font-weight: 600;
            }
            tbody tr td {
                border-bottom: 1px solid #ddd;
                border-right: 1px solid #ddd;
                padding: 10px;
                vertical-align: middle;
                color: #222;
            }
            tbody tr td.pro-remove {
                width: 150px;
                a {
                    color: #606060;
                    font-size: 25px;
                }
            }
            td.pro-quantity {
                text-align: center;
                .cart-plus-minus {
                    border: 1px solid #dcdcdc;
                    border-radius: 5px;
                    overflow: hidden;
                    padding: 8px 0 8px 5px;
                    width: 80px;
                    margin: 0 auto;
                    .dec.qtybutton {
                        color: #727272;
                        cursor: pointer;
                        float: left;
                        font-size: 16px;
                        font-weight: 600;
                        height: 20px;
                        line-height: 25px;
                        position: relative;
                        text-align: center;
                        width: 20px;
                    }
                    input {
                        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                        border: medium none;
                        float: left;
                        font-size: 16px;
                        height: 25px;
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        width: 25px;
                    }
                    .inc.qtybutton {
                        color: #727272;
                        cursor: pointer;
                        float: left;
                        font-size: 16px;
                        font-weight: 600;
                        height: 20px;
                        line-height: 25px;
                        position: relative;
                        text-align: center;
                        width: 20px;
                    }
                }
            }
        }
    }
    .cart-buttons.mb-30 {
        margin-bottom: 30px;
        overflow: hidden;
        input,
        a {
            background-color: #db2d2e;
            border: medium none;
            border-radius: 27.5px;
            color: #ffffff;
            display: block;
            float: left;
            font-size: 14px;
            font-weight: 600;
            height: 48px;
            line-height: 48px;
            margin-bottom: 10px;
            margin-right: 15px;
            padding: 0 25px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
    .cart-coupon.mb-40 {
        overflow: hidden;
        margin-bottom: 30px;
        .coupon_form_inner {
            display: inline-block;
            position: relative;
            input[type="text"] {
                background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                border: 1px solid #dddddd;
                border-radius: 27.5px;
                float: left;
                font-size: 14px;
                height: 48px;
                max-width: 100%;
                padding: 7px 15px;
                width: 350px;
            }
            input[type="submit"] {
                background-color: #db2d2e;
                border: medium none;
                border-radius: 27.5px;
                color: #ffffff;
                display: block;
                float: left;
                font-size: 13px;
                font-weight: 600;
                height: 100%;
                line-height: 24px;
                padding: 8px 25px;
                position: absolute;
                right: 0;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }
    .cart-total {
        text-align: right;
        margin-bottom: 40px;
        h3 {
            border-bottom: 1px solid #ddd;
            font-size: 24px;
            line-height: 18px;
            margin-bottom: 30px;
            padding-bottom: 10px;
            text-transform: uppercase;
        }
        table {
            border: medium none;
            float: right;
            margin: 0 0 30px;
            text-align: right;
            th {
                font-size: 14px;
                font-weight: 700;
                padding: 0 0 12px;
                text-align: left;
                text-transform: uppercase;
                vertical-align: top;
                width: 120px;
            }
            td {
                font-size: 13px;
                font-weight: 500;
                padding: 0 0 12px;
                vertical-align: top;
            }
            .order-total th,
            .order-total td {
                font-size: 20px !important;
                color: #222;
            }
        }
        .proceed-to-checkout a {
            background-color: #db2d2e;
            border: medium none;
            border-radius: 27.5px;
            color: #ffffff;
            display: inline-block;
            font-size: 14px;
            font-weight: 600;
            height: 48px;
            line-height: 48px;
            padding: 0 25px;
            text-transform: uppercase;
        }
    }
}

// Wishlist
td.pro-cart a {
    background: #db2d2e;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

td.pro-out-stoke {
    color: #db2d2e !important;
}