.seller-profile {
    background: #f6f6f6;
    .search-result-item {
        padding: 20px 20px 0 20px;
        background-color: #fff;
        border-radius: 4px;
        .image-link {
            display: block;
            overflow: hidden;
            display: inline-block;
            margin: -20px 0 -20px -20px;
            float: left;
            width: 200px;
            .image {
                max-width: 100%;
            }
        }
        .info {
            margin-top: 2px;
            font-size: 14px;
            span {
                border-right: 1px solid #777;
                padding-right: 10px;
                padding-left: 10px;
                line-height: 2px;
                display: inline-block;
                i {
                    padding-right: 5px;
                }
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    border-right: medium none;
                }
            }
        }
        .description {
            font-size: 14px;
        }
    }
}

.search-result-item-heading {
    color: #323232;
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
    text-transform: capitalize;
    a {
        color: #323232;
    }
}

.label.label-warning {
    background: #fe9700 none repeat scroll 0 0;
}

.label.label-success {
    background: #8ac249 none repeat scroll 0 0;
}

.label.label-warning,
.label.label-success {
    display: inline;
    padding: 5px 10px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;
    position: relative;
    top: -12px;
}

.ad-history {
    margin: 30px 0 0 0;
}

.col-md-4:nth-child(1) .user-stats {
    background: #34495e;
}

.col-md-4:nth-child(2) .user-stats {
    background: #3498db;
}

.col-md-4:nth-child(3) .user-stats {
    background: #1abc9c;
}

.user-stats {
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    h2 {
        color: #fff;
        font-weight: 500;
        margin: 0;
    }
    small {
        color: rgba(255, 255, 255, 0.7);
        display: block;
        margin-top: 1px;
        text-transform: uppercase;
    }
}

.dashboard-menu-container {
    background-color: #fff;
    border-top: 1px solid #f1f1f1;
    overflow: hidden;
    position: relative;
    ul {
        margin-bottom: 0;
        text-align: center;
        li {
            border-right: 1px solid #f1f1f1;
            display: inline-block;
            text-align: center;
            width: 24%;
            padding: 10px 0;
            &:last-child {
                border: none;
            }
            a {
                color: #000;
                transition: all 0.5s;
                &:hover {
                    color: #db2d2e;
                }
            }
        }
        .active a {
            color: #db2d2e;
        }
    }
}

.seller-tab-area {
    margin-top: 30px;
    nav>div a.nav-item.nav-link {
        border: none;
        padding: 18px 25px;
        color: #000;
        background: #fff;
        border-radius: 0;
        font-weight: 600;
        &:hover {
            background: #eae9e9 !important;
        }
    }
    .nav-item.nav-link.active {
        background: #eae9e9 !important;
    }
    nav>.nav.nav-tabs {
        background: transparent;
    }
    .tab-content {
        border-top: 2px solid #db2d2e;
        border-bottom: none;
        border-right: none;
        border-left: none;
        padding: 30px !important;
    }
    .heading-md {
        color: #323232;
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
        text-transform: capitalize;
    }
    .dl-horizontal {
        margin-bottom: 0;
        dd {
            border-bottom: 1px solid #f4f4f4;
            margin-left: 0;
            margin-bottom: 5px;
            margin-top: 5px;
            padding: 10px 0;
            &:last-child {
                border-bottom: medium none;
            }
        }
        dt {
            float: left;
            width: 160px;
            overflow: hidden;
            clear: left;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 44px;
            color: #222;
            strong {
                font-weight: 600;
            }
        }
    }
    .sms-up {
        margin-top: 20px;
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
        .btn.btn-default.btn-file {
            position: relative;
            overflow: hidden;
            padding: 12px 20px !important;
            border: 1px solid #cdd1d4;
            border-radius: 0px;
            border-right: none;
        }
    }
    #img-upload {
        margin-bottom: 30px;
        margin-top: 20px;
        width: 100%;
    }
}

dl.plan-setting.dl-horizontal {
    height: 120px;
    min-height: 80px;
}

.sky-form {
    display: flex;
    flex-direction: column;
    input[type=checkbox] {
        position: relative;
        top: 1px;
        margin-right: 5px;
    }
    .extra-pera {
        margin-bottom: 10px;
        padding: 10px 0;
        border-bottom: 1px solid #eee;
        &:nth-child(5) {
            border-bottom: none;
        }
    }
    .notification-btn {
        margin-top: 20px;
    }
}

button.btn.btn-sm.btn-default {
    padding: 8px 27px;
    font-size: 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.save-changes {
    padding: 7px 20px;
    margin-left: 10px;
    border-radius: 2px;
}

// Seller-my-ad
.seller-ad-area {
    margin-top: 40px;
    .featured-car-content ul {
        padding: 5px 0 0;
        li {
            float: left;
            font-size: 14px;
            list-style: outside none none;
            margin-bottom: 2px;
            width: 50%;
        }
    }
    .sesh-column {
        margin-top: 30px;
    }
}

.featured-ribbon {
    height: 100px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 100px;
    z-index: 1;
    span {
        box-shadow: 0 3px 12px -7px rgba(0, 0, 0, 1);
        color: #fff;
        display: block;
        font: 600 12px/30px "Source Sans Pro", sans-serif;
        position: absolute;
        right: -35px;
        text-align: center;
        text-transform: uppercase;
        top: 13px;
        transform: rotate(45deg);
        width: 125px;
        background: #db2d2e none repeat scroll 0 0;
    }
}

.notification.msgs {
    position: absolute;
    z-index: 9;
    bottom: 10px;
    left: 15px;
    margin: 0;
    .round-btn {
        color: #fff;
        display: inline-block;
        height: 40px;
        line-height: 38px;
        text-align: center;
        width: 40px;
        background: #232323 none repeat scroll 0 0;
        border-radius: 50%;
    }
    span {
        background: #db2d2e none repeat scroll 0 0;
        color: #fff;
        font-size: 10px;
        font-weight: 700;
        padding: 4px 8px;
        position: relative;
        right: 15px;
        text-align: center;
        top: -15px;
        border-radius: 50%;
    }
}

.ad-info-1 {
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: relative;
    top: 10px;
    border-top: 1px solid #f1f1f1;
    p {
        display: inline-block;
        line-height: 55px;
        padding-left: 0px;
        margin-bottom: 0;
        font-size: 16px;
        i {
            color: #a0a0a0;
            font-size: 20px;
        }
    }
    .pull-right {
        margin: 0;
        padding: 0;
        border-top: none;
        li {
            color: #888888;
            display: inline-block;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            padding: 0;
            a {
                border-left: 1px solid #e5e5e5;
                display: block;
                font-size: 18px;
                height: inherit;
                line-height: 48px;
                text-align: center;
                width: 48px;
                i {
                    margin-right: 0;
                }
            }
        }
    }
}

i.fa.fa-pencil.edit {
    color: #999 !important;
    font-size: 20px;
}

.ad-info-1 ul li i.delete {
    color: #ed1c24 !important;
    font-size: 20px;
}

// Seller-Messages
.seller-message {
    background: #f6f6f6;
    .message-body {
        background-color: #fff;
        overflow: hidden;
        .message-inbox {
            border-right: 4px solid #eee;
            .message-header {
                padding: 15px 20px;
                h4 {
                    display: inline-block;
                    font-size: 18px;
                    color: #232323;
                    margin: 0;
                }
                span {
                    float: right;
                    margin-right: 10px;
                    a {
                        color: #232323;
                    }
                }
            }
        }
        .list-wrap {
            position: relative;
            height: 590px;
            overflow-y: scroll;
            .message-history {
                border-top: 1px solid #d4d4d4;
                margin: 0;
                padding: 0;
                list-style: none;
                overflow: hidden;
                li {
                    border-bottom: 1px solid #eee;
                    transition: all 0.3s ease 0s;
                    list-style: none;
                    a {
                        display: block;
                        overflow: hidden;
                        padding: 25px 20px;
                        .image {
                            width: 50px;
                            height: 50px;
                            overflow: hidden;
                            float: left;
                            img {
                                width: 100%;
                            }
                        }
                        .user-name {
                            position: relative;
                            margin-left: 70px;
                            .author {
                                margin-top: 5px;
                                span {
                                    color: #232323;
                                }
                                .user-status {
                                    display: inline-block;
                                    width: 8px;
                                    height: 8px;
                                    background-color: #db2d2e;
                                    -webkit-border-radius: 50%;
                                    -moz-border-radius: 50%;
                                    border-radius: 50%;
                                    margin-left: 5px;
                                }
                                p {
                                    font-size: 13px;
                                    color: #666;
                                    line-height: 1.5em;
                                    margin-top: 5px;
                                }
                            }
                            .time {
                                position: absolute;
                                top: 0px;
                                right: 0;
                                span {
                                    font-size: 14px;
                                    color: #777;
                                }
                            }
                        }
                    }
                }
                .active {
                    background-color: #f8f8f8;
                }
            }
        }
    }
}

a.active small {
    color: #db2d2e;
}

.message-details {
    position: relative;
    padding: 30px 44px 30px 14px;
    overflow: hidden;
    .author {
        overflow: hidden;
        .image {
            width: 50px;
            height: 50px;
            overflow: hidden;
            float: left;
            margin-right: 18px;
        }
        .author-name {
            display: block;
            font-size: 16px;
            color: #232323;
            line-height: 1.5em;
            font-weight: 600;
        }
        em {
            font-size: 14px;
            font-style: italic;
            color: #666;
        }
    }
    h2 {
        color: #232323;
        font-size: 18px;
        font-weight: 600;
        line-height: 60px;
        margin: 0;
        text-transform: capitalize;
        a {
            color: #232323;
        }
    }
    .list-wraps {
        position: relative;
        height: 590px;
        overflow-y: scroll;
        .messages {
            list-style: outside none none;
            margin: 0;
            padding: 10px;
            li {
                margin-bottom: 10px;
                list-style: none;
                .profile-picture {
                    float: left;
                    height: 40px;
                    margin: 0;
                    width: 40px;
                    overflow: hidden;
                    img {
                        border: medium none;
                        border-radius: 50%;
                        width: 100%;
                    }
                }
                .message {
                    border-radius: 5px;
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 10px;
                    min-height: 40px;
                    padding: 15px 20px;
                    position: relative;
                    margin-left: 50px;
                    background-color: #e9e9e9;
                    // &::before {
                    //     border-bottom: 10px solid transparent;
                    //     border-right: 10px solid;
                    //     border-top: 0 solid transparent;
                    //     content: "";
                    //     height: 0;
                    //     left: -10px;
                    //     position: absolute;
                    //     top: 10px;
                    //     width: 0;
                    //     border-right-color: #e9e9e9;
                }
                .time {
                    font-size: 14px;
                    line-height: 10px;
                    margin-top: 0;
                    text-align: right;
                }
            }
        }
    }
}

.friend-message .message::before {
    border-bottom: 10px solid transparent;
    border-right: 10px solid;
    border-top: 0 solid transparent;
    content: "";
    height: 0;
    left: -10px;
    position: absolute;
    top: 10px;
    width: 0;
    border-right-color: #e9e9e9;
}


/* CSS SCROLL PLUGIN */

.ps-scrollbar-x-rail {
    display: none;
}

.ps-container>.ps-scrollbar-y-rail {
    position: absolute;
    right: 0;
    width: 5px;
    height: 100%;
}

.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    position: absolute;
    right: 0;
    width: 3px;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -ms-transition: -ms-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    transition: transform .3s ease;
}

.ps-container:hover>.ps-scrollbar-y-rail>.ps-scrollbar-y,
.ps-container:active>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    opacity: 1;
}

.my-message .profile-picture {
    float: right !important;
}

.my-message .message {
    background-color: #1f364f !important;
    color: #fff;
    margin-right: 50px;
    margin-left: 0px !important;
    &::before {
        border-bottom: 10px solid transparent;
        border-left: 10px solid;
        border-top: 0 solid transparent;
        content: "";
        height: 0;
        position: absolute;
        right: -10px;
        top: 10px;
        width: 0;
        border-left-color: #1f364f;
    }
}

.chat-form {
    background-color: #eff0f4;
    clear: both;
    margin-top: 15px;
    padding: 20px;
    .form-group {
        width: 75%;
    }
    .button.red {
        margin-left: 12px;
        padding: 9px 50px;
        border-radius: 5px;
    }
}

.sms-order {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #e5e5e5;
    align-items: center;
    padding: 20px 0;
    color: #5d5959;
    b {
        color: #000;
    }
    .sms-order-button .button.red {
        padding: 3px 10px;
        font-size: 12px;
    }
}